{% extends 'base.html' %}

{% block content %}
    {% if todolists %}

    <ul>
        {% for todolist in todolists %}
        <li>
            {{todolist.list_name}}
            <ul>
            {% for item in todoitems %}
            {% if item.todo_list.id == todolist.id %}
            <li>
                {% if item.checked == True %}
                    <strike>
                        {{item.title}}&nbsp:&nbsp{{item.due_date}}
                    </strike>
                {% else %}
                    <p>{{item.title}}&nbsp:&nbsp{{item.due_date}}</p>
                {% endif %}             
            </li>
            {% endif %}
            {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

    {% endif %}
{% endblock %}